body {
  margin: 0 20px 20px 20px;
  line-height: 20px;
  background: #fff;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#d9eaf3),
      color-stop(4%, #fff)
    )
    0 4px;
  background-size: 100% 20px;
  font-family: Helvetica;
  color: rgb(0, 0, 172);
}

/* <-- Header --> */
header {
  margin: 0 auto;
  height: 65px;
  padding: 5px 10px 10px 10px;
  text-align: center;
}

h1 {
  font-size: 2.75em;
  color: rgb(0, 0, 172);
  margin: 0.65em 0.75em;
  text-shadow: 2px 2px #eeeeee;
}

/* <-- Navbar --> */
.navbar {
  position: fixed;
  right: 0px;
  border: none;
  top: 0px;
}

.nav-link {
  cursor: pointer;
  color: rgb(0, 0, 172);
  margin-right: 1em;
  text-decoration: none;
  list-style-type: none;
}

.nav-item {
  list-style-type: none;
  display: inline;
}

.nav-link:hover {
  font-weight: bold;
}

.navbar .active {
  font-weight: bold;
}

/* <-- Home --> */
.home {
  color: rgb(0, 0, 172);
  text-align: center;
  margin: 150px auto;
  width: 30%;
  vertical-align: middle;
}

a {
  text-decoration: none;
}

/* <-- Lists Container --> */
#lists-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
  place-content: start;
  grid-auto-flow: row;
}

div.new-list-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

/* <-- List Card --> */
.list-card {
  height: 250px;
  width: 250px;
  color: #000;
  background: #ffc;
  box-shadow: 10px 10px #eeeeee;
  padding: 10px;
  text-align: center;
  margin: 1em 1em 0em 0em;
  justify-self: start;
  text-decoration: none;
}

.list-card:hover,
.list-card:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  position: relative;
  z-index: 5;
  text-decoration: none;
}

h3 {
  font-size: 1em;
  color: rgb(0, 0, 172);
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  text-align: left;
}

li {
  font-size: 0.85em;
  list-style: inside;
  color: rgb(0, 0, 172);
}

/* <!-- Inputs --> */
input[type="submit" i] {
  font-size: 0.65em;
  color: white;
  background-color: rgb(68, 55, 255);
  border-radius: 10px;
  text-align: center;
  margin-left: 1em;
  padding: 0px 6px;
}

input[type="submit" i]:hover,
input[type="submit" i]:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  position: relative;
  z-index: 5;
}

input[type="text" i] {
  border-radius: 10px;
}

input.delete-list-item-button {
  float: right;
}

.delete-list-button {
  font-size: 0.75em;
  color: white;
  background-color: rgb(68, 55, 255);
  border-radius: 10px;
  text-align: center;
  margin-left: 1em;
  float: right;
}

/* <!-- About Page --> */
.about {
  height: 464px;
}

.about p {
  text-align: center;
}

@media only screen and (min-width: 500px) {
  .lists-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  .lists-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
