body {
  margin: 20px;
  color: #444;
  line-height: 20px;
  background: #fff;
  background: -webkit-gradient(
      linear,
      0 0,
      0 100%,
      from(#d9eaf3),
      color-stop(4%, #fff)
    )
    0 4px;
  background: -webkit-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -moz-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -ms-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: -o-linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  background: linear-gradient(top, #d9eaf3 0%, #fff 8%) 0 4px;
  -webkit-background-size: 100% 20px;
  -moz-background-size: 100% 20px;
  -ms-background-size: 100% 20px;
  -o-background-size: 100% 20px;
  background-size: 100% 20px;
}

header {
  margin: 0 auto;
  height: 50px;
  padding: 10px;
  text-align: center;
}

div.lists-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto;
  column-gap: 10px;
  row-gap: 15px;
  place-content: start;
  grid-auto-flow: row;
}

div.new-list-container {
  margin-top: 1em;
  margin-bottom: 1em;
}

div.list-container {
  height: 250px;
  width: 250px;
  color: #000;
  background: #ffc;
  box-shadow: 10px 10px #eeeeee;
  padding: 10px;
  text-align: center;
  margin: 1em 1em 0em 0em;
  justify-self: start;
}

div.list-container:hover,
div.list-container:focus {
  box-shadow: 10px 10px 7px rgba(0, 0, 0, 0.7);
  transform: scale(1.05);
  position: relative;
  z-index: 5;
}

h2 {
  font-size: 2.75em;
  color: rgb(0, 0, 172);
  font-family: Helvetica;
  margin: 0.65em 0.75em;
  text-shadow: 2px 2px #eeeeee;
}

h3 {
  font-size: 1em;
  color: rgb(0, 0, 172);
  font-family: Helvetica;
}

ul {
  display: block;
  list-style-type: disc;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  padding-inline-start: 10px;
  text-align: left;
}

li {
  font-family: Helvetica;
  font-size: 0.85em;
  list-style: inside;
  color: rgb(0, 0, 172);
}

input[type="submit" i] {
  font-size: 0.65em;
  color: white;
  background-color: rgb(68, 55, 255);
  border-radius: 10px;
  text-align: center;
  margin-left: 1em;
  padding: 0px 6px;
}

input[type="text" i] {
  border-radius: 10px;
}

input.delete-list-item-button {
  float: right;
}

input.delete-list-button {
  font-size: 0.75em;
  color: white;
  background-color: rgb(68, 55, 255);
  border-radius: 10px;
  text-align: center;
  margin-left: 1em;
  float: right;
}

@media only screen and (min-width: 500px) {
  div.lists-container {
    grid-template-columns: 1fr 1fr;
  }
}

@media only screen and (min-width: 850px) {
  div.lists-container {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }
}
